<div class="container" id="divbackground">
    <div class="row justify-content-center">

        <div class="col-md-6 text-left rounded shadow py-5">
            <div class="row justify-content-center fs-1">Login Form</div>
            <!--Passing form value to ts file through ngForm directive-->
            <form (ngSubmit)="OnSubmit(myForm)" #myForm="ngForm">
                <div class="form-group fs-4">
                    <label for="">UserName</label>
                    <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username" ngModel
                        placeholder="Enter user name" required>
                    <!-- <small *ngIf="username">UserName is : {{username}}</small> -->
                </div>
                <div class="form-group fs-4">
                    <label for="">Email</label>
                    <input type="text" class="form-control" #email="ngModel" id="email" name="email" ngModel
                        placeholder="Enter email id" required email (blur)="checkEmail($event)">
                    <small class="text-danger" *ngIf="email.touched && !email.valid">Please enter valid email</small>
                    <small class="text-danger" *ngIf="isEmailValid">Please enter valid domain</small>
                </div>
                <!--25 july 2023 start  and validation-->
                <div class="form-group fs-4">
                    <label for="Courses">Course</label>
                    <select name="course" class="form-control" id="course" [ngModel]="defaultCourseValue" required>

                        <option value="Angular">Angular</option>
                        <option value="JavaScript">JavaScript</option>
                        <option value="Typescript">Typescript</option>
                        <option value="Angular">Angular</option>
                    </select>
                    <!------25 july end-->

                </div>
                <!--Creating nested form-->
                <div ngModelGroup="address fs-4">
                    <div class="form-group fs-4">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" type="text" #country="ngModel" id="country" ngModel
                            name="country" placeholder="Enter country" required>
                        <small class="text-danger" *ngIf="country.touched && !country.valid">Please enter country</small>
                    </div>
                    <div class="form-group fs-4">
                        <label for="state">State</label>
                        <input class="form-control" type="text" ngModel name="state" placeholder="Enter state" required>
                        <small class="text-danger" *ngIf="state.touched && !state.valid">Please enter state</small>
                    </div>
                </div>
                <!--Values coming from db or arrays-->
                <div class="form-group">

                    <div *ngFor="let gender of genders" class="custom-control custom-radio">
     
                      <input class="custom-control-input" type="radio" name="gender" id="{{gender.id}}" value="{{gender.value}}" ngModel>
     
                      <label class="custom-control-label" for="{{gender.id}}">{{gender.value}}</label>
     
                     </div>
     
                 </div>
                <!--hard code values-->
                <div class="form-group fs-4">
                    <label for="gender">Select Gender</label>
                    <input type="radio" name="gender" id="gender" ngModel value="male">Male
                    <input type="radio" name="gender" id="gender" ngModel value="female">Female

                </div>
                <div class="form-group fs-4">
                    <label for="contact">Contact Number</label>
                        <input class="form-control" type="text" ngModel name="contact" placeholder="Enter contact" required number>
                        <small class="text-danger" *ngIf="contact.touched && !contact.valid">Please enter contact</small>
                </div>
 
                <div class="form-group fs-4">
                    <label for="isMarried">Married</label>
                    <input type="checkbox" name="isMarried" id="isMarried" ngModel>
                    
                </div>
                <!-- <button type="submit" [disabled]="!myForm.valid" class="btn btn-success mt-2">Submit</button> -->
                <button type="submit" class="btn btn-success mt-2 btn-lg">Submit</button>

            </form>

        </div>
        <div class="row justify-content-center mt-2" *ngIf="isFormSubmitted">

            <h2 class="text-center">Form Data</h2>

            <p>UserName: <strong>{{formData.username}}</strong></p>

            <p>Email: <strong>{{formData.email}}</strong></p>

            <p>Course: <strong>{{formData.course}}</strong></p>

            <p>Country: <strong>{{formData.country}}</strong></p>

            <p>State: <strong>{{formData.state}}</strong></p>

            <p>Gender: <strong>{{formData.gender}}</strong></p>


            
          </div>
    </div>

</div>